@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


/* *{
    margin: 0;
    padding: 0;
    border: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

body{
    background-color: rgb(62, 5, 93);
}

.card {
    display: flex;
    background: rgb(130, 79, 149);
    height:350px;
    width: 950px;
    border-radius: 5px;
}

.card-image{
    width:800px;
    background-size: cover;
}

.img1{
    border-radius:0 5px 5px 0;
    background-image: url('https://wallpaperaccess.com/full/2241223.jpg');
    
} */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.parent {
    display: flex;
    background: rgb(76, 11, 69);
    border: 1px solid;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.child{
    /* border: 1px solid; */
    height: 350px;
    width: 400px;
    background-color: rgb(125, 4, 113);
    overflow: hidden;
    
}
.child1{
    border-radius: 5px 0 0 5px;
    display: flex;
    /* height: 350px; */
    width: 350px;
    flex-direction: column;
    justify-content: space-between;
    
}
.child1 p{
    /* margin: 30px; */
    /* margin-top: 20px;
    margin-left: 30px; */

    font-family: 'Roboto', sans-serif;
    
}


.caps{
    font-weight: bolder;
    font-size: xx-large;
}
img{
    border-radius: 0 5px 5px 0;
    /* object-fit: scale-down; */
    height: 100%;
    width: 100%;
}
.small{
    font-size: small;
}

p{
    color: azure;

}

span{
    color: blueviolet;
}
